/* General Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    height: 100%;
    width: 100%;
  }
  #main{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background-color: gray;
  }
  #center{
    position: relative;
    left: 20%;
    top: 50%;
    transform: translate(0%,-50%);
    width: 65%;
    height: 80%;
    /* background-color: blue; */
  }
  .imagecontainer{
    overflow: hidden;
    position: absolute;
    width: 0%;
    height: 100%;
  }
  img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
  }
  #one{
    width: 0;
  }
  .text{
    position: absolute;
    bottom: 15%;
    left: -10%;
    overflow: hidden;
    width: 400px;
    height: 100px;
    z-index: 999;
    /* background-color: red; */
  }
  .text h1{
    top: 100px;
    font-size: 6vw;
    position: absolute;
  }